{% load static %}

<header class="header">
    <h1 class="header-heading"><a href="{% url 'contato:index' %}" class="header-link">Agenda</h1></a>

    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="{% url 'contato:create' %}" class="menu-link">Create</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Link 2</a>
        </li>
      </ul>
    </nav>

    <div class="search">
      <form action="{% url 'contato:search' %}" method="get">
        <input type="text" class="search-input" placeholder="Search" id="search" name="q" value="{{ search_value }}">
      </form>
    </div>
</header>