{% extends 'global/base.html' %}

{% block content%}
<div class="single-contact">
    <h1 class="single-contact-name">{{ contacts.nome }} {{ contacts.sobrenome }}</h1>

        {% if contacts.foto %}
        <p>
            <img src="{{ contato.foto.url }}" style="max-width: 250px; height: auto;">
        </p>
        {% endif %}
        <p><b>ID:</b>
          {{ contacts.id }}</p>

          <p><b>Telefone:</b>
          {{ contacts.telefone }}</p>

          <p><b>E-mail:</b>
          {{ contacts.email }}</p>

          <p><b>Data criação:</b>
          {{ contacts.data_criacao|date:'d/m/y H:i:s' }}</p>

          <p><b>Categoria:</b>
          {{ contacts.categoria.nome }}</p>

          <p><b>Descrição:</b>
                {{ contacts.descricao }}
          </p>
          {% if contacts.foto %}
            <p>
                <img src="{{ contacts.foto.url }}" alt="{{ contacts.nome }} {{contacts.sobrenome}}">
            </p>
          {% endif %}

          {% if user == contacts.owner %}
            <div class="contact-links">
                <a class="btn btn-link" href="{% url 'contato:update' contacts.id %}">Update</a>

                <form id="form_contact" action="{% url 'contato:delete' contacts.id %}" method="POST">
                    {% csrf_token %}
                    
                </form>
                <button onclick="show();" class="btn btn-link btn-delete">Delete</button>
            </div>
          {% endif %}

          <section class="modal" id="overlay">
            <div class="overlay">
                <div class="notice">
                    <h1>Atenção</h1>
                    <p>O contato <b>{{ contacts.nome }}</b> será apagado.</p>
                    <p>Deseja continuar?</p>
                    <div class="btn-modal">
                        <button class="btn btn-link btn-left" onclick="ocultModal();">Não</button>
                        <button class="btn btn-link btn-delete btn-right"  type="submit"onclick="delete_contact();">Sim</button>
                    </div>
                </div>
            </div>
        </section>
        
       

      </div>
{% endblock content%}