{% extends 'global/base.html' %}

{% block content%}
<div class="single-contact">
    <h1 class="single-contact-name">{{ contacts.nome }} {{ contacts.sobrenome }}</h1>

        {% if contacts.foto %}
        <p>
            <img src="{{ contato.foto.url }}" style="max-width: 250px; height: auto;">
        </p>
        {% endif %}
        <p><b>ID:</b>
          {{ contacts.id }}</p>

          <p><b>Telefone:</b>
          {{ contacts.telefone }}</p>

          <p><b>E-mail:</b>
          {{ contacts.email }}</p>

          <p><b>Data criação:</b>
          {{ contacts.data_criacao|date:'d/m/y H:i:s' }}</p>

          <p><b>Categoria:</b>
          {{ contacts.categoria.nome }}</p>

          <p><b>Descrição:</b>
                {{ contacts.descricao }}
          </p>
      </div>
{% endblock content%}